body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
.container {
  overflow: hidden;
  width: 80%;
  margin: auto;
}
.navbar {
  margin-top: 20px;
  overflow: hidden;

  /* margin-bottom: 30px; */
}
.navbar a {
  float: left;
  color: #25bfe1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.nav-right {
  float: right;
}
.name-part{
  text-align: center;
}
.name-part h1 {
  font-size: 32pt;
}
.name-part h4 {
  font-size: 30pt;
  font-weight: normal;
  color: rgb(112, 112, 112);
}
.name-part img {
  align-items: center;
  height: 400px;
  width: 400px;
}
.view-cv {
  background: transparent;
  border: 3px solid #25bfe1;
  padding: 15px 32px;
}
.view-cv a {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: #25bfe1;
  text-align: center;
}
.social-icons{
  color: black;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
}
.block {
  overflow: hidden;
  float: left;
  width: 350px;
  height: 200px;
  padding: 15px;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 15px;
  box-sizing: border-box;
  background-color: white;
}
.form-group{
  padding-bottom: 20px;
}
.form-group input,textarea{
  width: 80%;
  padding: 10px;
  border-color: black;
  border-radius: 5px;
}
.contact-block{
  margin-bottom: 100px;
}
.submit-button{
  background-color: transparent;
  padding: 10px;
  font-size:  17px;
  border-radius: 7px;
}
.main-footer {
  background-color: #ccc9b6;
  text-align: center;
  padding: 40px;
  /* margin-top: 100px; */
  font-size: 12pt;
}
.half-width{
  width: 40%;
  float: left;
  margin-top: 20px;
}
.half-width p{
  line-height: 2rem;
}
.half-width img{
  width: 80%;
  border-radius: 50%;
  text-align: justify;
}
table{
  max-width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
}
.fav-link a{
 text-decoration: none;
}
.qoute-block{
  background-color: #e9e5cf;
  padding: 40px;
  text-align: center;
}
.center-box{
  margin: auto;
  width: 60%;
}
.qoute-box{
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
/* @media(max-width:300px){
  .half-width {
      width: 100%;
      float: none;
      
  }
} */